@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&family=Prompt:wght@100;200;300;400&display=swap');
.header{
    min-height: 160px !important;
    width:100%;
    position: relative;
}
.headerSocialLinks{
    height: 22px;
    position: absolute;
    top:64px;
    left:60px;
    font-family: 'prompt';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    text-transform: capitalize;
    color: #182754;
}

.headerSocialLinks a{
    text-decoration: none;
    color: #182754;
}
.headerSocialLinks a:hover{
    text-decoration: none;
    color: #080d1d;
} 

.headerLogo{
    width:300px;
    height: 160px;
    margin: auto;
    background:#888EA0;
    background: url('./images/logo.png');
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
}

.headerOptions{
    top:60px;
    height: 48px;
    width: 300px;
    position: absolute;
    right:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.headerIconButton{
    width:48px;
    height:48px;
    margin-left:20px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    transform: 2s;
}

.headerIconButton:hover{
    background: #E4EBFF44;
    transform: 2s;
}
.IconBlur{
    width: 20px;
    height: 20px;
    background: #E4EBFF;
    filter: blur(10px);
    position: absolute;
    top:12px;
    right:12px;
    z-index: 1;
    
}
.headerIconButton .inner{
    width:20px;
    height: 20px;
    position: absolute;
    top:14px;
    left:14px;
    z-index: 11;
}
.headerIconButton .inner.searchIcon{
    background: url("./icons/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.headerIconButton .inner.bagIcon{
    background: url("./icons/bag.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.headerIconButton .bagCount{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0px;
    z-index: 3;
    border-radius: 50%;
    background: #253B80;
    font-family: 'prompt';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2px;
}
.headerSearch{
    width:calc(100% - 144px);
    text-align: right;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    color: #182754;
    font-family: 'prompt';
    border:none;
    padding: 0 10px;
    border-bottom: solid 0.1em #18275411;
}

.headerSearch:focus{
    outline: none;
}

.productBox{
    height:823px;
    width:calc(33.3% - 60px);
}

.productWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    max-width: 1626px;
    margin:auto !important;
    justify-content:space-evenly;
    min-height: calc(100vh - 333px);
    transform: 2s;
}

.productImage{
    height: 723px;
    width:100%;
    /* background: #0cc; */
    background: #ccc;
    background-position: center;
}

.productContent{
    height: 100px;
    width:100%;
    padding:20px 0;
    display: flex;
    font-family: 'prompt', sans-serif;
}
.productText{
    height: 100%;
    width: calc(100% - 60px);
}
.productIcons{
    width:60px;
    height: 100%;
    cursor: pointer;

}
.productTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 23.86px;
    line-height: 33px;
    color: #182754;
    font-family: 'prompt';
}
.productPrice{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    color: #888EA0;
}
.productIcon{
    color: #273E87;
    padding: 0 20px;
    font-size: 16px;
    height: 50%;
}
.footer{
    width: 100%;
    min-height: 173px;
    height: auto;
    padding: 60px 0 60px;
    background: #182754;
    position: relative;
}
.footer .footerLinks, .footer .socialLink{
    background: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
}

.footer .footerLinks{
    margin: auto;
}
.footer .socialLink{
    position: absolute;
    right: 215.5px;
    top:60px;
}
.footer .footerLogo{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 215.5px;
    top:60px;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover{
    text-decoration: none;
    color: #d1d1d1;
} 
@media only screen and (max-width: 1050px) {
    .productWrapper{
        padding:0 60px;
    }
    .headerSocialLinks{
        position: relative;
        height: auto;
        margin: auto;
        top:0;
        width: 100%;
        right:0;
        left:0;
        text-align: center;
        padding:5px;
        font-weight: normal;
        background: #182754;
        color: #fff;

    }
    
    .headerSocialLinks a{
        text-decoration: none;
        color: #ffffff;
    }
    .headerSocialLinks a:hover{
        text-decoration: none;
        color: #d1d1d1;
    } 
    
    .headerOptions{
        position: relative;
        margin: auto;
        top:0;
        width: calc(100% - 120px);
        right:0;
        margin-bottom: 20px;
        max-width: 500px;
    }

    .footer .socialLink{
        position:unset;
        left: auto;
        top:auto;
        line-height: 40px;
        margin: auto;
        width: 100%;
        text-align: center;
        float:none;
    }
    .footer .footerLogo{
        position: unset;
        left: auto;
        top:auto;
        line-height: 40px;
        margin: auto;
        width: 100%;
        text-align: center;

    }
}


@media only screen and (max-width: 750px) {
    .productBox{
        width:calc(100%)
    }
    .footer .footerLinks, .footer .socialLink{
        font-size:14px
    }
    
}

@media (min-width: 751px) and (max-width: 1064px) {
    .productBox{
        width:calc(50% - 60px)
    }

}

